*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header
{
    width: 100%;
    height: 900px;
    background: linear-gradient(#00000081),url(./uae-4-2048x1367\ 2.png);
}
.topheader
{
   max-width: 1200px;
   margin: auto;
   display: flex;
   justify-content: space-between;
   padding: 10px;
   align-items: center;
}
.list
{
width: 40%;
display: flex;
gap: 50px;
color: white;
}
.divminu
{
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.topheader button{
    padding: 10px 35px;
    background-color: #07AF91;
    color: white;
    border: none;
    border-radius: 10px;
}
.heroheader
{
    max-width: 1200px;
    margin: auto;

}
.inforheader
{
position: absolute;
top: 30%;
display: flex;
flex-direction: column;
gap: 30px;
}
.inforheader h1{
    color: white;
    font-size: 40px;
}
.span
{
    width: 330px;
    background-color: #07AF91;
    padding: 5px;
    
}
.par{
    font-size: 30px;
    color: #FFFFFF;

}
.par1
{
font-size: 25px;
color: #ffffffe7;
display: none;
}
.btn1
{
    width: 30%;
    padding: 20px 35px;
    background: linear-gradient(#61B5E4,#016CA8);
    border: none;
    border-radius: 15px;
    color: white;
}
.informationdiv
{
    width: 100%;
    height: 1100px;
    margin: auto;
}
.pars
{
    width: 100%;
    display: flex;
}
.par2
{
    margin-top: 80px;
    font-size: 30px;
    font-weight: 600;
    color: #016CA8;
    margin-left: 120px;
}
.under
{
    max-width: 1200px;
    height: 40%;
    margin: auto;
}
.under1
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 60px;
}
.item
{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.imageworld
{
    width: 28%;
    height: 50%;
    position: relative;
    bottom: 40px;
    background-image: url(./kisspng-competitor-analysis-market-research-marketing-quan-5b102810d85456\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
.par3
{
font-size: 20px;
color: #1178B2;

}
.par4
{
    font-size: 18px;
    font-family: normal;
}
.under1 button{
    padding: 15px 30px;
    width: 220px;
    background-color: #07AF91;
    color: white;
    border: none;
    border-radius: 10px;
}
.under2
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 120px;
}
.imagerocet
{
    width: 25%;
    height: 40%;
    background-image: url(./rocket\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 40px;
}
.item1
{
    width: 43%;
    height: 80%;
     display: flex;
    flex-direction: column;
    gap: 20px;
}
.top
{
    margin-top: 30px;
}
.under2 button{
    padding: 15px 30px;
    width: 220px;
    background-color: #07AF91;
    color: white;
    border: none;
    border-radius: 10px;
}
.heroinformationdiv
{
    max-width: 1000px;
    height: 470px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.par5
{
      
    font-size: 30px;
    font-weight: 600;
    color: #016CA8;
}
.divinfor
{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.item2
{
    width: 32%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.par6
{
    width: 331px;
    text-align: center;
}
.parh1
{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
.heroimageheader
{
    width: 100%;
    height: 605px;
    background: linear-gradient(#0000008C),url(./startup\ 3.png);
    margin-top: 50px;
}
.divinforimage
{
    max-width: 1200px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.divinforimage h1{
    background-color: #07AF91;
    color: white;
    text-align: center;
    font-size: 40px;
    width: 90%;
    margin: auto;
    margin-top: 160px;
}
.divinforimage p{
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
}
.divinforimage div{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.divinforimage button{
    padding: 10 30px;
    width: 230px;
    height: 50px;
    background: linear-gradient(#61B5E4,#016CA8);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
.centerheader
{
    max-width: 1000px;
    height: 661px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.parper{
    font-size: 30px;
    color: #016CA8;
}
.divkulbtn
{
    width: 100%;
    height: 50px;
    background-color: #EEF1F4;
}
.btn2
{
    width: 25%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #88BBD8;
    color: white;
    font-size: 17px;
}
.btn3
{
    width: 25%;
    height: 100%;
    font-size: 17px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: 0.5 solid rgba(0, 0, 0, 0);
    color: #484848;
}
.btn4
{
    width: 23%;
    height: 100%;
    font-size: 17px;
    border: none;
    color: #484848;
}
.informaindiv1
{
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}
.profilediv
{
    width: 35%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.divdiv
{
    width: 55%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    flex-wrap: wrap;
    display: flex;
    gap: 26px;
    z-index: 2;
}
.items
{
    width: 47%;
    height: 48%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 10px black;
}
.items p{
    color: #10101080;
    text-align: center;
}
.items1
{
    width: 47%;
    height: 48%;
    background-color: #1178B2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 10px black;
}
.items1 p{
    color: #10101080;
    text-align: center;
}
.imageworld1
{
    width: 30%;
    height: 40%;
    position: absolute;
    top: 3330px;
    z-index: 1;
    background-image: url(./Vector\ \(26\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.span1{
    color: #07AF91;
}
.span2{
    color: black;
}
.divimageprofile{
    display: flex;
    gap: 10px;
    align-items: center;
}
.btn5{
    padding: 25px 20px;
    width: 70%;
    border: none;
   background: linear-gradient(#61B5E4,#016CA8);
   color: white;
   border: none;
   border-radius: 10px;
}
.btn6{
    padding: 25px 20px;
    width: 80%;
    border: none;
   background: linear-gradient(#61B5E4,#016CA8);
   color: white;
   border: none;
   border-radius: 10px;
   font-size: 20px;
   display: none;
}
@media (max-width: 510px){
    .imageinava
    {
        width: 30%;
    }
    .list
    {
        display: none;
    }
    .divminu
    {
        display: flex;

    }
    .divbtnminu
    {
        display: flex;
        gap: 15px;
    }
    .span
    {
       
    }
    .inforheader{
        text-align: center;
    }
    .par
    {
        display: none;
    }
    .par1
    {
        display: block;
    }
    .span1
    {
        background-color: white;
        color: #07AF91;
        font-weight: 700;
    }
    .btn1
    {
        width: 70%;
        border-radius: 4px;
        margin: auto;
        font-size: 20px;
    }
    .informationdiv
    {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 3400px;
        position: relative;
        bottom: 800px;
    }
    .under
    {
        align-items: start;
    }
    .under1
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
        height: 50%;
    }
    .imageworld
    {
        height: 80%;
        width: 80%;
    }
    .item
    {
        width: 100%;
        text-align: center;
    }
    .par3{
        font-size: 25px;
        text-align: center;

    }
    .par4{
        font-size: 20px;
    }
    .under1 button{
        margin: auto;
        width: 80%;
        padding: 25px;
        font-size: 20px;
    }
    .under2
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 50%;
    }
    .item1
    {
        width: 100%;
        text-align: center;
    }
    .imagerocet{
        width: 50%;
        height: 80%;
    }
     .under2 button{
        margin: auto;
        width: 80%;
        padding: 25px;
        font-size: 20px;
    }
    .heroinformationdiv
    {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .divinfor
    {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .item2
    {
        width: 100%;
        height: 33%;
    }
    .heroimageheader
    {
        width: 100%;
        height: 800px;
    }
    .divinforimage{
        text-align: center;
    }
    .divinforimage h1{
        font-size: 30px;
    }
    .parper{
        text-align: center;
    }
    .divkulbtn{
        width: 92%;
        margin: auto;
    }
    .btn4{
        width: 19%;
    }
    .informaindiv1{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 2500px;
    }
    .profilediv{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .btn5
    {
        display: none;
    }
    .btn6{
        display: block;
        margin: auto;
    }
    .divdiv{
        width: 100%;
        display: flex;
        height: 600px;
    }
    .items{
        width: 45%;
    }
    .imageworld1{
        width: 100%;
        position: absolute;
        top: 6500px;
    }
}